/* .topbar-profile-photo{
    width: 1.5em;
    height: 1.5em;
    position: relative;
}

.link-menu{
    color: black;
} */
 body{
     background-color: rgb(151, 241, 241);
 }

 #btnSignIn{
     /* border-radius: 40%; */
     display: grid;
     outline: none;
     border: none;
     border-radius: 50px;
     background-color: lawngreen;
     font-weight: 600;
     font-size: 150%;
    position: absolute;
    top: 17px;
    left: 75%;
    transition: 0.5s;
 }

 #btnSignIn:hover{
        background-color: aquamarine;
 }